*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ; 
}
.Janna{
    width: 100%;
    min-height: 100vh;
    background-color: #c769d3;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}
.content{
    margin-top: 10%;
    max-width: 600px;
}
.content h1{
    font-size: 70px;
    color: #222;
}
.content p{
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
}
.content .btn {
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}
.btn:hover{
    border-top-right-radius: 30px;
}
.feature-img{
    width: 530px;
    position: absolute;
    bottom: 0;
    right: 10%;
}
.feature-img.anim{
    animation-delay: 1.5s;
}   
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px); 
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.About-Me {
    width: 100%;
    min-height: 100vh;
    background-color: #c769d3;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

.About-Me h1 {
    font-size: 50px;
    color: #830694;
    text-align: center;
  
}

.About-Me p {
    margin: 10px 0 30px;
    color: #333;
   
}

.button-container {
    position: absolute;
    top: 70px;
    right: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.About-Me-Button {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.About-Me-Button:hover {
    border-top-right-radius: 30px;
}

.About-Me-Img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

p {
    opacity: 0;
    transform: translateY(20px);
    animation: moveup 0.5s linear forwards 1s;
    padding: -10px 0 -10px;
    font-size: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body { font-family: Arial, sans-serif; 
    margin: 0; padding: 0;  
    background-image: url(pinkback.jpg);
} 
h1 {   
    padding: 10px; 
    margin: 0; 
}
#toDoForm { 
    background-color: pink; 
    padding: 20px; 
    margin: 20px; 
}

#toDoInput { 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    box-sizing: border-box;
 }

button { 
    background-image: linear-gradient(45deg, #df4881, #c430d7); 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
} 

#toDoList {
    list-style-type: none;
}
#deleteButton {
    width: 30px;
    margin-left:px;
}
.ToDoList-container {
    position: absolute;
    top: 25px;
    right: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.To-Do-List-Button {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.To-Do-List-Button:hover {
    border-top-right-radius: 30px;
}
